---
// Redirect to admin/index.html
// This makes /admin work in development
// In production, /admin/ will work automatically
---

<script>
  window.location.replace('/admin/index.html');
</script>

<p>Redirecting to admin...</p>

